.form {
  display: flex;
  
}

.input {
  border: none;
  border-radius: 0;
  font-size: 1em;
  width:100%;
  background-color:grey;
  padding:0px;
  height:60%;
  
  }

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  display: inline-block;
  border: none;  
  height:50%;
  margin: 5px;
   font-size: 1em;
}