.form {
  display: flex;
  
}

.input {
  border: none;
  border-radius: 0;
  font-size: .98em;
  width:100%;
  background-color: #BEESEB;
  padding:0px;
  
  }

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  display: inline-block;
  border: none;  
  height: 30px;
  margin:10px;
  position:relative;
  left:8%;
  bottom:0px;
  
}