.form {
  display: flex;
  
}

.body {
  background-color: #3A3A3D;
}
.input {
  border: none;
  border-radius: 0;
  font-size: 1em;
  width:100%;
  background-color:rgb(255, 255, 255);
  padding:0px;
  height:60%;
  color: #848486;
  }

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
  background: #6558F5;
  display: inline-block;
  border: none;  
  height:50%;
  margin: 5px;
  font-size: 1em;
  border: 1px solid #6558F5;

}

bg-light {
color: #ffffff !important;
background-color: #3A3A3D;


}