html {
  font-family: 'Roboto', sans-serif;
}

/* use as an accent color only */

.purple-text {
  color: #6558F5;
}

/* use for muted text on forms and such */

.gray-text {
  color: #3A3A3D;
}

/* use on containers for background color */

.gray {
  color: #848486 !important;
}

/* use as dark background or similiar */

.dark-gray {
  color: #0E0E10;
}

/* use for text color where white is required */

.white-text {
  color: #DEDEE3;
}

/* border colors */

.border-purple {
  border-color: #6558F5 !important;
}

.transition1 {
  transition: transform .2s;
  /* Animation */
}

.transition1:hover {
  transform: scale(1.03);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  filter: saturate(2);
}

a {
  color: #6558F5;
}

a :hover {
  color: #b6bbae !important;
}
