.col-lg-4 {
  border: 6px solid #6A59FE;
  background-color: #0E0E10;
  /* opacity: 92%; */
}

a {
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
  transition-duration: .3s;
  transition: cubic-bezier(0.36, 0.4, 0.28, 1);
}

.btn-primary {
  color: #6558F5 !important;
  border-color: #6558F5;
  background-color: white;
  transition-duration: .2s !important;
  transition: cubic-bezier(0.36, 0.4, 0.28, 1);
}

button:hover {
  background-color: #DEDEE3;
  transition-duration: .3s;
  transition: cubic-bezier(0.36, 0.4, 0.28, 1);
}