.col-lg-4 {
  border: 6px solid #6A59FE;
  background-color: rgb(62, 62, 62);
  opacity: 92%;
}

a {
  color: rgb(188, 188, 188);
  font-weight: bold;
}

a:hover {
  color: rgb(116, 116, 116);
  transition-duration: 1s;
}

.btn-primary {
  color: #6A59FE !important;
  border-color: #6A59FE;
  background-color: white;
}

button:hover {
  background-color: rgba(188, 188, 188, 0.674) !important;
  transition-duration: .7s;
}