.col-lg-4 {
  border: 6px solid rgb(172, 109, 75);
  opacity: 92%;
}

a {
  color: rgb(48, 216, 88);
}

a:hover {
  color: rgb(48, 216, 88);
  transition-duration: 1s;
}

.btn-primary {
  color: #6245cb !important;
  border-color: #6245cb;
  background-color: white;
}

button:hover {
  color: rgb(48, 216, 88);
  background-color: rgba(227, 227, 227, 0.674) !important;
  transition-duration: .7s;
}