h1 {
    color: #ffffff;
    text-align: center;
}

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    background-color: #000000;
    background-attachment: fixed;
    image-orientation: inherit;
    background-size:100% 100%;
    border-radius: 4px 4px 4px 4px;
  }


.col-lg-6 {
  border: 6px solid #6A59FE;
  background-color: rgb(24, 24, 24);
  /* opacity: 92%; */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px 5px 5px 5px;
}


a {
  color: rgb(189, 189, 189);
  font-weight: bold;
}

a:hover {
  color: rgba(188, 188, 188, 0.674) !important;
  transition-duration: 1s;
}

.btn-primary {
  color: #6A59FE !important;
  border-color: #6A59FE;
  background-color: white;
}

button:hover {
  background-color: rgba(188, 188, 188, 0.674) !important;
  transition-duration: .7s;
}

