h1 {
    color: #ffffff;
    text-align: center;
}

body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    background-color: #0E0E10;
    background-attachment: fixed;
    image-orientation: inherit;
    background-size:100% 100%;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
  }


.col-lg-6 {
  border: 6px solid #6A59FE;
  background-color: rgb(24, 24, 24);
  /* opacity: 92%; */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 5px 5px 5px 5px;
}


a {
  color: #ffffff;
  font-weight: bold;
}

a:hover {
  color: #ffffff !important;
  transition-duration: 1s;
}

.btn-primary {
  color: #6558F5 !important;
  border-color: #6558F5;
  background-color: white;
}

button:hover {
  background-color: #DEDEE3;
  transition-duration: .7s;
  border-color: #6558F5;
}

.logoLogin {
  max-width: 200px;
}

