.col-sm-4, .col-sm-6 {
  border: 2px solid #6558F5;
  background-color: rgb(24, 24, 24);
  opacity: 92%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 4px 4px 4px 4px;
}

.col-sm-6 {
margin: 0 35px;
}

.purple {
  color: #ffffff !important;
  border-color: #6558F5;
  background-color: #3A3A3D !important;
}  

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin:auto;
  color: white;
}

